@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,900&display=swap');

*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
}

:root{
    --dark-color: #282828;
    --pink-color: #F51167;
}

/* max width */

.max-width{
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 2rem;
    display: flex;
    align-items: center;
}



/* styling nav bar */

.landing-page nav {
    background-color: var(--dark-color);
    height: 50px;
}

nav ul {
    list-style: none;
}

nav .max-width{
    justify-content: space-between;
    height: 100%;
}

nav .logo{
    font-size: 22px;
    font-weight: 700;
    color: var(--pink-color);
}

nav .max-width > ul {
    display: flex;
    height: 100%;
}

nav .max-width > ul > li{
    margin-right: 3rem;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    height: 100%;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color .05s ease-in-out;
}

nav ul li a:hover {
    color: var(--pink-color)
}

/* styling nested uls  */

.shoes,
.pages{
    position: relative;
}

.nested-ul {
    position: absolute;
    top: 100px;
    left: 0;
    width: 220px;
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid black;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
}

.nested-ul li:not(:last-child) {
    margin-bottom: 1rem;
}

.nested-ul a {
    color: var(--dark-color);
}

ul .shoes:hover > .nested-ul,
ul .pages:hover > .nested-ul{
    opacity: 1;
    visibility: visible;
    top: 49px;
}

/* media query for nav bar  */
@media (max-width: 950px) {
    nav .logo{
        display: none;
    }

    nav .max-width{
        justify-content: center;
    }
}

@media (max-width: 800px) {
    nav .max-width > ul > li {
        margin-right: 2rem;
    }
}

@media (max-width: 700px) {

    nav .max-width ul {
        display: none;
    }

    nav .logo{
        display: block;
    }
}